    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"

        // NVIDIA Hardware Acceleration
        GBM_BACKEND "nvidia-drm"
        __GLX_VENDOR_LIBRARY_NAME "nvidia"
        LIBVA_DRIVER_NAME "nvidia"
        NVD_BACKEND "direct"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial

        // 允许屏幕撕裂以获得最低延迟 (游戏必备)
        allow-tearing
    }

    hotkey-overlay {
       skip-at-startup
    }
