.ruff_cache
__pycache__
*.pyc
test*
node_modules
nohup.out
GEMINI.md
AGENTS.md
CLAUDE.md
fish
tmp
.bashrc
.zshrc
.agent
.opencode
.claude
.gemini
.atuin
.aws
.ssh
.env

proxy*
private*
traffic*
api_key*
password*
token*
credential*
info*
