#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("matugen"),
    cache_dir: Some("$HOME/.cache/rmpc"),
    on_song_change: None,
    volume_step: 5,
    max_fps: 60,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    lyrics_dir: Some("/mnt/data/Music/Vocaloid"),
    lyrics: (
        show_synced_only: false,
        show_untranslated: true,
        alignment: Center,
        highlight_style: (fg: "#aac7ff"),
    ),
    cava: (
        framerate: 60,
        smoothing: (
            noise_reduction: 77,
            monstercat: true,
        ),
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
    ),
    keybinds: (
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "oI":         ShowCurrentSongInfo,
            "oo":         ShowOutputs,
            "op":         ShowDecoders,
            "od":         ShowDownloads,
            "oP":         Partition(),
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            "s":          Stop,
            ">":          NextTrack,
            "&lt;":          PreviousTrack,
            "f":          SeekForward,
            "b":          SeekBack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "&lt;Tab&gt;":      NextTab,
            "gt":         NextTab,
            "&lt;S-Tab&gt;":    PreviousTab,
            "gT":         PreviousTab,
            "1":          SwitchToTab("Show"),
            "2":          SwitchToTab("Home"),
            "3":          SwitchToTab("Queue"),
            "4":          SwitchToTab("Directories"),
            "5":          SwitchToTab("Playlists"),
            "6":          SwitchToTab("Artists"),
            "7":          SwitchToTab("Album Artists"),
            "8":          SwitchToTab("Albums"),
            "9":          SwitchToTab("Genre"),
            "0":          SwitchToTab("Search"),
            "&lt;C-u&gt;":      Update,
            "&lt;C-U&gt;":      Rescan,
            "R":          AddRandom,
        },
        navigation: {
            "&lt;C-c&gt;":      Close,
            "&lt;Esc&gt;":      Close,
            "&lt;CR&gt;":       Confirm,
            "k":          Up,
            "&lt;Up&gt;":       Up,
            "j":          Down,
            "&lt;Down&gt;":     Down,
            "h":          Left,
            "&lt;Left&gt;":     Left,
            "l":          Right,
            "&lt;Right&gt;":    Right,
            "&lt;C-w&gt;k":     PaneUp,
            "&lt;C-Up&gt;":     PaneUp,
            "&lt;C-w&gt;j":     PaneDown,
            "&lt;C-Down&gt;":   PaneDown,
            "&lt;C-w&gt;h":     PaneLeft,
            "&lt;C-Left&gt;":   PaneLeft,
            "&lt;C-w&gt;l":     PaneRight,
            "&lt;C-Right&gt;":  PaneRight,
            "K":          MoveUp,
            "J":          MoveDown,
            "&lt;C-u&gt;":      UpHalf,
            "&lt;C-d&gt;":      DownHalf,
            "&lt;C-b&gt;":      PageUp,
            "&lt;PageUp&gt;":   PageUp,
            "&lt;C-f&gt;":      PageDown,
            "&lt;PageDown&gt;": PageDown,
            "gg":         Top,
            "G":          Bottom,
            "&lt;Space&gt;":    Select,
            "&lt;C-Space&gt;":  InvertSelection,
            "/":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "a":          Add,
            "A":          AddAll,
            "D":          Delete,
            "&lt;C-r&gt;":      Rename,
            "i":          FocusInput,
            "oi":         ShowInfo,
            "&lt;C-z&gt;":      ContextMenu(),
            "&lt;C-s&gt;s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "&lt;C-s&gt;a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
        },
        queue: {
            "d":          Delete,
            "D":          DeleteAll,
            "&lt;CR&gt;":       Play,
            "C":          JumpToCurrent,
            "X":          Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
   tabs: [
      (name: "Show",pane: Split(direction: Vertical, panes: [
                  (size: "50%", pane: Split(direction: Horizontal, panes: [
                              (size: "39%", borders: "ALL", border_symbols: Rounded, pane: Pane(Queue)),
                              (size: "22%", borders: "ALL", border_symbols: Rounded, pane: Pane(AlbumArt)),
                              (size: "39%", borders: "ALL",
                                   border_title: [(kind: Text("Lyrics"), style: (fg: "#aac7ff"))],
                                   border_title_position: Top,
                                   border_title_alignment: Right,
                                   border_symbols: Rounded,
                                  pane: Pane(Lyrics)),
                          ])
                  ),
                  (size: "50%", borders: "ALL", border_symbols: Rounded, pane: Pane(Cava)),
              ])
      ),
      (name: "Home", pane: Split(direction: Horizontal, panes: [
                  (size: "70%", borders: "NONE", pane: Split(direction: Vertical, panes: [
                              (size: "3", borders: "ALL", border_symbols: Rounded , pane: Pane(QueueHeader())),
                              (size: "100%", borders: "ALL", border_symbols: Rounded ,pane: Pane(Queue)),
                      ])

                  ),
                  (size: "30%", borders: "NONE", border_symbols: Rounded ,pane: Split(direction: Vertical, panes: [
                              (size: "0.47r", borders: "TOP | RIGHT | LEFT",
                                  border_symbols: Rounded,
                                  pane: Pane(AlbumArt)),
                              (size: "100%", borders: "ALL",
                                  border_symbols: Inherited(parent: Rounded, top_left: "├", top_right: "┤"),
                                  border_title: [(kind: Text("Lyrics"), style: (fg: "#aac7ff"))],
                                  border_title_position: Top,
                                  border_title_alignment: Right,
                                  pane: Pane(Lyrics)),
                          ])
                  ),

              ])
      ),
      (name: "Queue", pane: Split(direction: Vertical, panes: [
                  (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Rounded , pane: Pane(QueueHeader())),
                  (size: "100%", borders: "ALL", border_symbols: Inherited(parent: Rounded, top_left: "├", top_right: "┤"),
                                  border_title: [(kind: Property(Song(File)), style: (fg: "#c3c6d3"))],
                                  border_title_position: Bottom,
                                  border_title_alignment: Right,
                                  pane: Pane(Queue)),
                      ])

      ),
      (name: "Directories", pane: Split(direction: Horizontal,panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Directories)),
              ])
      ),
      (name: "Playlists", pane: Split(direction: Horizontal, panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Playlists)),
              ])
      ),
      (name: "Artists", pane: Split(direction: Horizontal, panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Artists)),
              ])
      ),
      (name: "Album Artists", pane: Split(direction: Horizontal, panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(AlbumArtists)),
              ])
      ),
      (name: "Albums", pane: Split(direction: Horizontal, panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Albums)),
              ])
      ),
      (name: "Genre", pane: Split(direction: Horizontal, panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Browser(root_tag: "genre", separator: ";"))),
              ])
      ),
      (name: "Search", pane: Split(direction: Horizontal, panes: [
                  (size: "100%", borders: "ALL", border_symbols: Rounded, pane: Pane(Search)),
              ])
      ),
  ]
)
